<h1>Anagramification!</h1>
<form action="/words">
  <div class="form-group">
    <label for="target">Enter target word:</label>
    <input id="target" name="target" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="possible_anagrams">Enter words to anagramify:</label>
    <input id="possible_anagrams" name="possible_anagrams" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Anagramify!</button>
</form>
